runpod
vllm==0.7.3
pyairports @ https://files.pythonhosted.org/packages/6e/75/b424aebc9f2fc5db319d5df5fff62fa19254c8ef974c254588d48c480df2/pyairports-2.1.1-py3-none-any.whl
huggingface_hub[hf_transfer]>=0.23.0
numpy<2
pydantic>=2,<3